@{
    ViewData["Title"] = "Start";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <ul>
            <li><a asp-action="Canvas">Canvas3D</a></li>
            <li><a asp-action="Storage">Web Storage</a></li>
            <li><a asp-action="Location">Geo Location</a></li>
            <li><a asp-action="Camera">Media Capture</a></li>
            <li><a asp-action="DragDrop">Drag and Drop</a></li>
            <li><a asp-action="FileSystem">File API</a></li>
            <li><a asp-action="MathML">Math ML</a></li>
            <li><a asp-action="Svg">Svg</a></li>
            <li><a asp-action="WebWorker">Web Worker & Messaging</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul></ul>
    </div>
</div>
