@{
    ViewData["Title"] = "Start";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <ul>
            <li><a asp-action="Canvas">Canvas</a></li>
            <li><a asp-action="Storage">Storage</a></li>
            <li><a asp-action="Location">Location</a></li>
            <li><a asp-action="Camera">Camera</a></li>
            <li><a asp-action="DragDrop">Drag  & Drop</a></li>
            <li><a asp-action="FileSystem">File System</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul></ul>
    </div>
</div>
